.heading_btn{
    margin-top:1rem !important;
    padding:1.5rem 2rem 2.1rem 2.2rem !important;
    font-family:OpenSans-SemiBold ;
    font-size: 1.3rem;
    border:1px solid $white !important;
    text-transform: uppercase;
}

// button back (go up)
.back-to-top {
    width: 50px;
    height: 50px;
    background:$black-rgba;
    font-size: 35px;
    color: whitesmoke;
    text-align: center;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right:0%;
    bottom: 20px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    z-index:30;
}
.back-to-top.hien-ra{
    visibility: visible;
    opacity: 1;
}