.review{
    .container-fluid{
        position: relative;
        .review__row1{
            &--col1{
                margin: 0 !important;
                padding: 0 !important;
                img{
                    width:100%;
                    height:40rem;
                }
            } 
            &--col2{
                margin: 0 !important;
                padding: 0 !important;
                img{
                    width:100%;
                    height: 40rem;
                }
            } 
        }
        .container{
            margin-left:auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            z-index: 10; 
            .review__row2{
                &--col2{
                    color:$white !important;
                    &--primary{
                        text-transform: uppercase;
                        font-family:OpenSans-Bold ;
                        font-size: 3rem;
                        margin:0 !important;
                        padding:7rem 0 2.5rem 11.8rem;
                    }
                    &--description1,&--description2{
                        font-family:OpenSans-Regular;
                        font-size: 1.5rem;
                        line-height: 2.7rem;
                        margin:0;
                        padding: 0 0 2.5rem 11rem;
                    }
                } 
            }
        }
    }
}