@keyframes go-bottom{
    0%{
        opacity:0;
        transform: translateY(-200px);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes go-up{
    0%{
        opacity:0;
        transform: translateY(1300px);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes go-left{
    0%{
        opacity:0;
        transform: translateX(-500px);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}
@keyframes go-return{
    0%{
        opacity:0;
        transform: translateX(-400px);
    }
    50%{
        opacity: 1;
        transform: translateX(400px);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes scale{
    0%{
        opacity:0;
        transform: scale(0);
    }
    100%{
        opacity:1;
        transform: scale(1);
    }
}
