@font-face{
    font-family:OpenSans-Bold ;
    src:url('../vendors/font/OpenSans-Bold.ttf');
}
@font-face{
    font-family:OpenSans-Regular ;
    src:url('../vendors/font/OpenSans-Regular.ttf');
}
@font-face{
    font-family:OpenSans-SemiBold ;
    src:url('../vendors/font/OpenSans-SemiBold.ttf');
}
@font-face{
    font-family:OpenSans-ExtraBold ;
    src:url('../vendors/font/OpenSans-ExtraBold.ttf');
}
@font-face{
    font-family:OpenSans-Bold ;
    src:url('../vendors/font/OpenSans-Bold.ttf');
}
@font-face{
    font-family:RobotoSlab-Regular ;
    src:url('../vendors/font/RobotoSlab-Regular.ttf');
}